@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');

:root{ 
    --section-color: #374151;
    --primary-color: #eab308;
    --secondary-color: #0891b2;
}

body{
    font-family: 'Dongle', sans-serif;
}

/* Top Section */

.section-header{
    background-color: var(--section-color);
    text-align: center;
}

.section-header ul{
    padding-left: 0rem;
}

.head-img{
    padding: 2rem 0rem;
    max-width: 40px;
    max-height: 40px;
    object-fit: scale-down;
}

.list-style-empty{
    list-style: none;
}

.list-inline{
    display: inline;
}

.list-inline span{
    position: relative;
    bottom: 40px;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--primary-color);
}


/* Text Areas */

.section-textarea{
    text-align: center;
    padding-top: 2rem;
}

.section-textarea ul{
    padding-left: 0rem;

}

.textarea{
    width: 16rem;
    height: 12rem;
}



/* Button */

.btn-translate{
    position: relative;
    bottom: 6rem;
    background-color: var(--section-color);
    border: 2.3px solid var(--primary-color);
    border-radius: 1rem 1rem;

}